/* ------------------- */
/* ------------------- */
/* local defs just in case */
/* Open Sans */
@font-face {
    font-family: 'Open Sans local';
    font-style: normal;
    font-weight: bold;
    src: url('OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans local';
    font-style: normal;
    font-weight: normal;
    src: url('OpenSans-Regular.ttf');
}

/* Leckerli One */
@font-face {
    font-family: 'Leckerli One local';
    font-style: normal;
    font-weight: normal;
    src: url('LeckerliOne.ttf');
}

/* Asap */
@font-face {
    font-family: 'Asap local';
    font-style: normal;
    font-weight: bold;
    src: url('Asap-Bold.ttf');
}

@font-face {
    font-family: 'Asap local';
    font-style: normal;
    font-weight: normal;
    src: url('Asap-Regular.ttf');
}
